   <div class="mini-footer">
     <div class="container">
       <div class="row">
          <div class="info">
                <div class = "col-sm-3">© 2015 Exhibit Media Pte Ltd</div>
                <div class = "col-sm-2">info@exhibitmedia.sg</div>
                <div class = "col-sm-2">+65 6542 2098 </div>
                <div class = "col-sm-2">+65 6542 9097</div>
                <div class = "col-sm-2">35 Changi South Ave 2, Singapore 486134</div>
         </div>
       </div>
     </div>
   </div>