    <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a href="#overview" du-smooth-scroll du-scrollspy><img src="img/logo.png" alt="exhibit Media Logo"></a></div>
                    <div class="header-nav">
                        <nav>
                            <ul class="primary-nav">
                                <li><a href="#overview" du-smooth-scroll du-scrollspy>Home</a></li>
                                <li><a href="#services" du-smooth-scroll du-scrollspy>Services</a></li>
                                <li><a href="#email" du-smooth-scroll du-scrollspy>Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a  class="nav-toggle"><span></span></a>
                    </div>
                </div>
            </header>
      </section>